@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tagesschrift';
  src: url('/fonts/Tagesschrift/Tagesschrift-Regular.ttf');
}

@font-face {
  font-family: 'CollegFont';
  src: url('/fonts/old-english-five/OldEnglishFive.ttf');
}

@font-face {
  font-family: 'HollywoodFont';
  src: url('/fonts/hollywood_hills/SF\ Hollywood\ Hills\ Extended.ttf');
}

@font-face{
  font-family: "CommingSoon";
  src: url('/fonts/ComingSoon-Regular.ttf');
}

@font-face {
  font-family: 'CalSans';
  src: url('/fonts/Cal_Sans/CalSans-Regular.ttf');
}

@font-face {
  font-family: 'AudioWide';
  src: url('/fonts/AudioWide/AudioWide-Regular.ttf');
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron/Orbitron-Regular.ttf');
}

@font-face {
  font-family: 'qopro';
  src: url('/fonts/qopro/qopro.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf');
}

.space-grotesk-font{
  font-family: "SpaceGrotesk", sans-serif;
}

.qopro-font{
  font-family: "qopro", sans-serif;
}

.obritron-font{
  font-family: "Orbitron", sans-serif;
}

.audio-wide-font{
  font-family: "AudioWide", sans-serif;
}

.calsans-font{
  font-family: "CalSans", sans-serif;
}

.comming-soon-font{
  font-family: "CommingSoon", sans-serif;
}

.college-font{
  font-family: "CollegFont", sans-serif;
}

.hollywood-font{
  font-family: "HollywoodFont", sans-serif;
}

.tangs-font{
  font-family: "Tagesschrift", sans-serif;
}


