@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tagesschrift';
  src: url('/fonts/Tagesschrift/Tagesschrift-Regular.ttf');
}

@font-face {
  font-family: 'CollegFont';
  src: url('/fonts/old-english-five/OldEnglishFive.ttf');
}

@font-face {
  font-family: 'HollywoodFont';
  src: url('/public/fonts/hollywood_hills/SF\ Hollywood\ Hills\ Extended.ttf');
}

@font-face{
  font-family: "CommingSoon";
  src: url('/fonts/ComingSoon-Regular.ttf');
}

.comming-soon-font{
  font-family: "CommingSoon", sans-serif;
}

.college-font{
  font-family: "CollegFont", sans-serif;
}

.hollywood-font{
  font-family: "HollywoodFont", sans-serif;
}

.tangs-font{
  font-family: "Tagesschrift", sans-serif;
}


